{% extends 'base.html' %}


{% block content %}
    <main>
        <div id="language-switch">
            <div class="select-language"><a href="/somali/" onclick="setValueInLocalStorage('locale', 'Somali');">Somali</a></div>
            <div class="select-language active-language"><a href="/xhosa/" onclick="setValueInLocalStorage('locale', 'Xhosa');">Xhosa</a></div>
            <div class="select-language active-language"><a href="/pashto/" onclick="setValueInLocalStorage('locale', 'Pashto');">Pashto</a></div>
            <div class="select-language active-language"><a href="/twi/" onclick="setValueInLocalStorage('locale', 'Twi');">Twi</a></div>
            <div class="select-language active-language"><a href="/ukrainian/" onclick="setValueInLocalStorage('locale', 'Ukrainian');">Ukrainian</a></div>
        </div>
        <div style="text-align: center;">
            <img src="../static/img/icon/file-pdf.svg" alt="printing" width="56" height="56" fill="currentColor">
        </div>
        <label class="form-label" for="customFile">Upload your .pdf Files!</label>
        <input type="file" class="form-control" id="customFile" />


        <div class="buttons-wrapper">
            <div>
                <button>PuzzLing Files !</button>
            </div>
        </div>
    </main>
{% endblock %}



