{% extends 'base.html' %}


{% block content %}
    <main>
        <div id="language-switch">
            <div class="select-language"><a href="{{url_for('Home', language='Somali')}}" onclick="setValueInLocalStorage('locale', 'Somali');">Somali</a></div>
            <div class="select-language active-language"><a href="{{url_for('Home', language='Xhosa')}}"  onclick="setValueInLocalStorage('locale', 'Xhosa');">Xhosa</a></div>
            <div class="select-language active-language"><a href="{{url_for('Home', language='Pashto')}}"  onclick="setValueInLocalStorage('locale', 'Pashto');">Pashto</a></div>
            <div class="select-language active-language"><a href="{{url_for('Home', language='Twi')}}"  onclick="setValueInLocalStorage('locale', 'Twi');">Twi</a></div>
            <div class="select-language active-language"><a href="{{url_for('Home', language='Ukrainian')}}"  onclick="setValueInLocalStorage('locale', 'Ukrainian');">Ukrainian</a></div>
        </div>



        <div>
             <p id = "output" class = "text-center"></p>
             <div id = "controls" class = "text-center">
                <button class="timer-btn" id = "startPause" onclick = "startPause()">START</button>
                <button class="timer-btn" onclick = "reset()">RESET</button>
            </div>
        </div>


        <div class="textarea-wrapper">
            <nav class="textarea-left-wrapper">
                <span id="testing_question" class="navbar-text">
                  {{ question }}
                </span>
            </nav>

            <div class="textarea-right-wrapper">
                    <p></p>
                    <form action="{{ url_for('predict', language=language, question=question, index=index)}}" method="post">
                        <textarea name="inputText" class="textarea" rows="8" placeholder="Type your answer here!" autofocus="" onkeyup="countChars(this);" onfocus="collapsTextArea(this);"></textarea>
                        <div class="counter-container">
                            <div id="counter" class="counter" style="text-align: center;"></div>
                        </div>

                        <div id="submission" style="text-align: center;">
                            <a href="./predict">
                                <!-- href="../predict" -->
                            <button type="submit" class="submit-btn">Get Your Score!</button>
                            </a>
                        </div>
                    </form>
            </div>
        </div>



    </main>
{% endblock %}
