<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linguistics Justice</title>
    <link rel="icon" type="image/png" href="../static/img/LJL Official Logo Image.png">
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">

</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a><img src="../static/img/LJL Official Logo Text.png" alt="printing" width="68px"  fill="currentColor" onclick="display();"></a>
          <a class="navbar-brand" href="#">PuzzLing</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Why PuzzLing?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </header>



    <main>


        <div id="language-switch">
            <div class="select-language"><a href="/somali/" onclick="setValueInLocalStorage('locale', 'Somali');">Somali</a></div>
            <div class="select-language active-language"><a href="/xhosa/" onclick="setValueInLocalStorage('locale', 'Xhosa');">Xhosa</a></div>
            <div class="select-language active-language"><a href="/pashto/" onclick="setValueInLocalStorage('locale', 'Pashto');">Pashto</a></div>
            <div class="select-language active-language"><a href="/twi/" onclick="setValueInLocalStorage('locale', 'Twi');">Twi</a></div>
            <div class="select-language active-language"><a href="/ukrainian/" onclick="setValueInLocalStorage('locale', 'Ukrainian');">Ukrainian</a></div>
        </div>

        <div class="time-values">00:00:00</div>
        <div class="buttons-wrapper">
            <div>
                <button class="startButton">Start</button>
                <button class="pauseButton" >Pause</button>
                <button class="stopButton">Stop</button>
                <button class="resetButton">Resume</button>
            </div>
        </div>



        <div class="textarea-wrapper">
            <nav class="textarea-left-wrapper">
                <span id="testing_question" class="navbar-text">
                  {{ question }}
                </span>
            </nav>

            <div class="textarea-right-wrapper">
                <p class="textarea-label">Translate Me!</p>
                    <form action="{{ url_for('predict', question = question)}}" method="post">
                        <textarea name="inputText" class="textarea" rows="8" placeholder="Type your answer here!'" autofocus="" onkeyup="countChars(this);" onfocus="collapsTextArea(this);"></textarea>
                        <div class="counter-container">
                            <div id="counter" class="counter" style="text-align: center;"></div>
                        </div>

                        <div id="submission" style="text-align: center;">
                            <a href="./predict">
                                <!-- href="../predict" -->
                            <button type="submit" class="submit-btn">Get Your Score!</button>
                            </a>
                        </div>
                    </form>
            </div>
        </div>
    </main>



    <footer>
        <address>
            For more information read our <a href="https://linguisticsjusticeleague.org/">project page</a> and <a href="#">privacy policy</a>
        </address>
    </footer>




    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../static/js/easytimer.min.js"></script>
    <script src="../static/js/timer.js"></script>
    <script src="../static/js/puzzling.js"></script>



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>