{% extends 'base.html' %}


{% block content %}
    <main>
        <div>
            <div class="container">

                <body onload="myFunction()">
                
                  <script>
                    function myFunction() {
                      let count = Number(localStorage.getItem('count')) || 1;
                      if (count >= 5) {
                        alert("You already finished all the 5 questions!");
                      }
                      
                      localStorage.setItem('count', count + 1);
                      document.getElementById("count").innerHTML = count;
                      
                    }
                  </script>
                </body>


                <div class="report" style="text-align: center;">
                    <div>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <script>
                            let count = Number(localStorage.getItem('count')) || 1;
                            var i = (count - 1) * 20;
                            var bar = document.querySelector(".progress-bar");

                            function makeProgress(){
                                var limit = count * 20;
                                if(i < limit){
                                    i = i + 1;
                                    bar.style.width = i + "%";
                                    bar.innerText = i + "%";
                                }
                                // Wait for sometime before running this script again
                                setTimeout("makeProgress()", 50);
                            }
                            makeProgress();
                        </script>
                    </div>
                    <p>This is your <span id="count"></span>th question.</p>
                    <span id="count"></span>

                    <p>--------------------------------This is Your Score Report--------------------------------</p>
                    <p>Source language: {{ language }} </p>
                    <p>This is your answer: {{ sentence }} </p>
                    <p>Here is the reference answer: {{ target }} </p>
                    <p>The Accumulated Score: {{ prediction_text }} </p>
                    <p>Spelling Score: {{ spelling_score }} </p>
                    <p>Grammar Score: {{ prediction_text }} </p>
                    <p>Semantics Score: {{ prediction_text }} </p>
                    <p>The Overall Score: {{ prediction_text }} </p>

                </div>
                <div style="text-align: center;">
                    <a><img src="../static/img/icon/printer.svg" alt="printing" width="26" height="26" fill="currentColor" onclick="display();"></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0, width=300,height=150'); return false"><img src="../static/img/icon/facebook.svg" alt="printing" width="26" height="26" fill="currentColor"></a>
                </div>


                <div id="submission" style="text-align: center;">
                    <a href="{{url_for('Home', language=language, index=index)}}">
                        <!-- href="../predict" -->
                        <script>
                            function countDecrease() {
                                let count = Number(localStorage.getItem('count'));
                                localStorage.setItem('count', count - 1);
                            }
                        </script>
                        <button onclick="countDecrease()" type="submit" class="submit-btn">Back</button>
                    </a>
                    <a href="{{url_for('Home', language=language)}}">
                        <!-- href="../predict" -->
                        <button  type="submit" class="submit-btn">Continue</button>
                    </a>
                    <a href="{{url_for('Home', language=language)}}">
                        <script>
                            function countReset() {
                                localStorage.setItem('count', null);
                            }
                            
                        </script>
                        <button onclick="countReset()" type="submit" class="submit-btn">Finish</button>
                    </a>
                </div>



            </div>
        </div>
    </main>
{% endblock %}



