{% extends 'base.html' %}


{% block content %}
    <main>
        <div class="report" style="text-align: center;">
            <p>--------------------------------This is Your Score Report--------------------------------</p>
            <p>Source language: {{ language }} </p>
            <p>This is your answer: {{ sentence }} </p>
            <p>Here is the reference answer: {{ target }} </p>
            <p>The Accumulated Score: {{ prediction_text }} </p>
            <p>Spelling Score: {{ prediction_text }} </p>
            <p>Grammar Score: {{ prediction_text }} </p>
            <p>Semantics Score: {{ prediction_text }} </p>
            <p>The Overall Score: {{ prediction_text }} </p>

        </div>
        <div style="text-align: center;">
            <a><img src="../static/img/icon/printer.svg" alt="printing" width="26" height="26" fill="currentColor" onclick="display();"></a>
            <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.example.com&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0, width=300,height=150'); return false"><img src="../static/img/icon/facebook.svg" alt="printing" width="26" height="26" fill="currentColor"></a>
        </div>


        <div id="submission" style="text-align: center;">
            <a href="{{url_for('Home', language=language)}}">
                <!-- href="../predict" -->
            <button  type="submit" class="submit-btn">Go Back!</button>
            </a>
        </div>
    </main>
{% endblock %}



