/* error page */
:root {
  --blue: #293b49;
  --pink: #fdabaf;
  --pink-light: #ffe0e6;
  --green: #04cba0;
  --green-dark: #01ac88;
  --white: white;
}

html,
body {
height: 100%;
margin: 0;
}

html {
font-size: 62.5%;
}

body {
font-family: "Lato", sans-serif;
font-size: 1.5rem;
color: var(--blue);
}

a {
text-decoration: none;
}

.center {
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.error {
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
}

.number {
font-weight: 900;
font-size: 15rem;
line-height: 1;
}

.illustration {
position: relative;
width: 12.2rem;
margin: 0 2.1rem;
}

.circle {
position: absolute;
bottom: 0;
left: 0;
width: 12.2rem;
height: 11.4rem;
border-radius: 50%;
background-color: var(--blue);
}

.clip {
position: absolute;
bottom: 0.3rem;
left: 50%;
transform: translateX(-50%);
overflow: hidden;
width: 12.5rem;
height: 13rem;
border-radius: 0 0 50% 50%;
}

.paper {
position: absolute;
bottom: -0.3rem;
left: 50%;
transform: translateX(-50%);
width: 9.2rem;
height: 12.4rem;
border: 0.3rem solid var(--blue);
background-color: var(--white);
border-radius: 0.8rem;
}
.paper::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.4rem;
  height: 1rem;
  background-color: var(--white);
  border-bottom: 0.3rem solid var(--blue);
  transform: rotate(45deg);
}
.face {
position: relative;
margin-top: 2.3rem;
}

.eyes {
position: absolute;
top: 0;
left: 2.4rem;
width: 4.6rem;
height: 0.8rem;
}

.eye {
position: absolute;
bottom: 0;
width: 0.8rem;
height: 0.8rem;
border-radius: 50%;
background-color: var(--blue);
animation-name: eye;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}
.eye-left {
  left: 0;
}

.eye-right {
  right: 0;
}
@keyframes eye {
0% {
  height: 0.8rem;
}
50% {
  height: 0.8rem;
}
52% {
  height: 0.1rem;
}
54% {
  height: 0.8rem;
}
100% {
  height: 0.8rem;
}
}

.rosyCheeks {
position: absolute;
top: 1.6rem;
width: 1rem;
height: 0.2rem;
border-radius: 50%;
background-color: var(--pink);


}  
.rosyCheeks-left {
  left: 1.4rem;
}

.rosyCheeks-right {
  right: 1.4rem;
}

.mouth {
position: absolute;
top: 3.1rem;
left: 50%;
width: 1.6rem;
height: 0.2rem;
border-radius: 0.1rem;
transform: translateX(-50%);
background-color: var(--blue);
}

.text {
margin-top: 5rem;
font-weight: 300;
color: var(--blue);
}
.back-home-btn a {
  all: unset;
}
.back-home-btn {
  all: unset;
  margin-top: 4rem;
  background: rgb(17 166 131);
  cursor: pointer;
  color: #ffffff;
  border-radius: 6px;
  padding: 16px 32px;
  border: none;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
  outline: none;
  transition: all .1s ease-in-out;
}

.back-home-btn:hover {
  background: rgb(0, 161, 173);
  box-shadow:0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.back-home-btn:focus {
    background: rgb(0, 161, 173);
    outline: white solid 2px !important;
    outline-offset: -.5rem;
}