{% extends 'layouts/base.html' %}

{% block title %} Wordulang Text! {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
                    <p>This is your <span id="count"></span>th question.</p>
                    <span id="count"></span>

                    <p>--------------------------------This is Your Score Report--------------------------------</p>
                    <p>Source language: {{ language }} </p>
                    <p>This is your answer: {{ sentence }} </p>
                    <p>Spelling Score: {{ prediction_text }} </p>
                    <p>Grammar Score: {{ prediction_text }} </p>
                    <p>Semantics Score: {{ prediction_text }} </p>
                    <p>The Overall Score: {{ prediction_text }} </p>
      </div>
                      <a class="btn btn-outline-primary btn-sm mb-0 me-3"

                       target="_self"
                       href="./test.html">Contiue
                    </a>
          {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}