{% extends 'layouts/base.html' %}

{% block title %} PuzzLing Text! {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">






      <div class="row">
            <nav class="textarea-left-wrapper">
                <p>This is the Test!</p>
                <span id="testing_question" class="navbar-text">
                  {{ question }}
                </span>
            </nav>

            <textarea name="inputText" class="textarea" rows="8" placeholder="Type your answer here!" autofocus="" onkeyup="countChars(this);" onfocus="collapsTextArea(this);"></textarea>      </div


          {% include "includes/footer.html" %}
            <a class="btn btn-outline-primary btn-sm mb-0 me-3"
                   target="_blank"
                   href="./">Submit
            </a>
      </div>



    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}